body {
    font-family: 'Victor Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #595CE2; /* Azul de fondo */
    color: #FAFAFA; /* Blanco para texto y bordes */
    
    
}

/* */
@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
    }

    #divider {
        width: 100%;
        height: 2px;
        margin: 10px 0;
    }

    #horarios-container,
    #form-container {
        width: 100%;
        margin: 0;
    }

    #form-container {
        margin-top: -20px; /* Ajuste de la distancia desde la parte superior */
    }

    .input-container {
        width: 90%; /* Ocupar más ancho en pantallas pequeñas */
    }

    .simulate-button,
    .clear-button,
    button {
        margin-top: 5px; /* Ajuste de la distancia entre botones en pantallas pequeñas */
    }

    #cost-result {
        font-size: 1rem; /* Ajuste del tamaño de fuente del resultado en pantallas pequeñas */
    }
}

/**/

#navbar {
    background-color: #595CE2;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

#navbar h1 {
    margin: 0;
}

#main-container {
    display: flex;
    align-items: stretch;
}

#horarios-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #595CE2;
    border-radius: 15px;
}

#horarios-title,
#viaje-title {
    font-size: 28px; /* Ajustado: Tamaño de fuente más grande */
    font-weight: bold;
    margin-bottom: 5px; /* Ajustado: Menor margen inferior */
    text-align: center; /* Centrar el título */
    width: 100%; /* Asegurar que ocupe el ancho completo */


}

#divider {
    width: 2px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 10px auto; /* Ajustado: Menor distancia de la línea al contenido superior e inferior */
}

#form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90vh;
    justify-content: space-around;
    transition: all .1s ease-out;
    margin-top: -45px; /* Ajustado: Mayor distancia desde la parte superior */
}

#map {
    height: 300px; /* Ajustado: Altura reducida del mapa */
    width: 100%;
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 1px; /* Ajustado: Menor distancia entre "Origen" y "Destino" */
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.input-container input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.input-container input::placeholder {
    color: #FAFAFA;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* Añadido: Estilo para el botón "Simular" y "Limpiar" */
.simulate-button,
.clear-button,
button {
    width: auto;
    border: solid 3px #FAFAFA;
    padding: .7rem;
    border-radius: 2rem;
    background-color: transparent;
    font-weight: 700; /* Ajustado: Fuente más gruesa */
    font-size: .9rem; /* Ajustado: Tamaño de fuente más grande */
    cursor: pointer;
    color: #FAFAFA;
    transition: all .1s ease-in;
    margin-top: 1px;
}

.simulate-button:hover,
.clear-button:hover,
button:hover {
    background-color: rgba(10, 12, 129, 0.925);
    border: solid 3px rgba(10, 12, 129, 0.925);
}

#cost-result {
    font-weight: bold;
}

@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
    }

    #divider {
        width: 100%;
        height: 2px;
        margin: 10px 0;
    }

    #horarios-container,
    #form-container {
        width: 100%;
        margin: 0;
    }
}

#cost-label,
#cost-result,
#observations-container {
    display: none;
}

#observations {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}
